@media (max-width: 480px) {
    .section-blue {
        height: auto;
    }
    .section-blue-wrap p {
        width: auto;
    }
    .card-text-custom {
        width: auto;
        height: auto;
    }
    .father-paragraph p {
        width: auto;
    }
    .fatherhood {
        margin-bottom: auto;
    }
    .project-card {
        width: auto;
        margin-bottom: 15px;
    }
    .margin-section {
        margin-bottom: auto;
    }
    footer .padding-0 {
         padding: 0 15px !important;
    }
    footer .list {
        display: flex;
        justify-content: space-between;
    }
    footer .mailbutton {
        margin-top: 15px;
        height: 37px;
        width: 100%;
    }
    footer .foot-display {
        display: block;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .section-blue-wrap  {
        padding: 15px;
    }
    .section-blue-wrap p {
        width: auto;
    }
    .card-mini-custom {
        width: auto;
        margin-bottom: 15px;
    }
    .mb-100 {
        margin-bottom: auto;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    .mb-60 {
        margin-bottom: auto;
        padding-bottom: 0 !important;
    }
    .bgn {
        height: 235px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .txt-p-wrap {
        padding-top: 0;
        padding-left: 0;
        position: relative;
        left: auto;
        bottom: auto;
    }
    .txt-p-wrap-2 p {
        margin-top: -24px;
        width: auto;
        height: auto;
    }
    .txt-p-wrap p {
        width: auto;
        height: auto;
    }
   
    .detalle h1 {
        width: auto;
        
        /* margin-bottom: 30px; */
    }
    .proyecto-detalle-img {
        width: 100%;
        height: 437px;
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: 50px;
    }
    .detalle p {
        width: auto;
        height: auto;
    }
    .detalle-mb-60 {
        margin-bottom: auto;
    }
    .share-s {
        text-align: center;     
        margin-top: 20px;
    }
}