    @font-face {
        font-family: "GinFont";
        src: url('../fonts/Gin.otf');
    }

    * {
        font-family: "GinFont";
        -webkit-font-smoothing: antialiased;
    }

    .bg-trans {
        background-color: transparent !important;
    }

    .golden-zero-image {
        width: auto;
        height: 135px;
        margin-left: 10px;
    }
    .apap-image {
        width: auto;
        height: 75px;
    }
    .navbar-brand {
        display: inline-block;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        
    }
    .container-fluid {
        position: relative;
    }
    .nav-cus {
        position: absolute;
        top: 0;
        right: 0;
    }
    .nav-link-custom:hover {
        cursor: pointer;
        transform: scale(1.05, 1.05);
    }

    .nav-link-custom {
        color: #e5c46e;
        font-weight: 100;
        font-size: 18px;
        margin-right: 25px;
    }
    .nav-link-custom:hover {
        text-decoration: none !important;
        color: #e5c46e !important;
        text-decoration: underline;
    }
    .nav-link-custom {
        text-shadow: 2px 4px 13px rgb(35, 35, 35);
    }
    .section {
        background-image: url(../img/division.png);
        background-position: bottom;
        height: 28px;
        width: 100%;
        background-size: cover;
    }
    
    .group {
        display: flex;
        flex-direction: column;
        position: static;
        margin-left: 38.5%;
        margin-bottom: 12%;
    }

    .element {
        position: absolute;
        background-image: url(../img/azul_2.png);
        width: 19%;
        background-repeat: no-repeat;
        background-size: contain;
        height: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 7px; 
    }

    .element:hover {
        background-image: url(../img/naranja_2.png);
    }
    .element_i:hover {
        background-image: url(../img/naranja_3.png) !important;
    }
    .element_i_hover {
        background-image: url(../img/naranja_3.png) !important;
    }
    .sub_element {
        width: 63%;
        background-repeat: no-repeat;
        background-size: contain;
        height: 100%;
        position: static;
        margin-top: 10%;
    }

    .inn {
        background-image: url(../img/home_2_o.png);
        background-repeat: no-repeat;
        background-position: top;
        height: auto;
        width: 100%;
        margin-bottom: 0px;
        padding-bottom: 30px;
        background-size: cover;
        background-position-x: left;
    }
    .blueblue {
        background-image: url(../img/azul_2.png);
        margin-top: -12.8%;
        width: 18%;
        position: absolute;
        margin-left: 38.8%;
        height: 73px;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .hovers:hover {
        background-image: url(../img/naranja_2.png);
    }
    .participar {
        background-image: url(../img/participar_o.png);
        background-repeat: no-repeat;
        background-position: center;
        height: auto;
        position: relative;
        width: 100%;
        background-size: contain;
    }
    .comercial {
        background-image: url(../img/comercial_o.png);
        background-repeat: no-repeat;
        background-position: center;
        height: auto;
        position: relative;
        width: 100%;
        background-size: contain;
    }
    .bases {
        background-image: url(../img/bases_o.png);
        background-repeat: no-repeat;
        background-position: center;
        height: auto;
        position: relative;
        width: 100%;
        background-size: contain;
    }

    .sorteos {
        background-image: url(../img/sorteos_back_2_o.png);
        background-repeat: no-repeat;
        background-position: top;
        height: auto;
        width: 100%;
        position: relative;
        margin-bottom: 0px;
        padding-bottom: 25px;
        background-size: contain;
        background-position-x: left;
    }

    .mil100_text_upper {
        background-image: url(../img/100mil_text_upper.png);
        background-repeat: no-repeat;
        background-position: top;
        height: 100px;
        width: 100px;
        background-size: cover;
        background-position-x: left;
    }

    .mil100 {
        background-image: url(../img/100mil.png);
        background-repeat: no-repeat;
        background-position: top;
        height: 100px;
        width: 100px;
        background-size: cover;
        background-position-x: left;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }